In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [7]:
import pandas as pd
import numpy as np

In [9]:
"""
Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)
"""
s=pd.Series(np.array([1,2,3,4])) 
print(s)

0    1
1    2
2    3
3    4
dtype: int32

In [13]:
s = pd.Series()
print (s)

Series([], dtype: float64)

In [16]:
s = pd.Series(np.array([1,2,3,4,5]),index=['a','b','c','d','é'])
print(s)

a    1
b    2
c    3
d    4
é    5
dtype: int32

In [19]:
dict1={'a':0,'b':1,'c':3}
s = pd.Series(dict1)
print(s)

a    0
b    1
c    3
dtype: int64

In [22]:
dict1={'a':0,'b':1,'c':3}
s = pd.Series(dict1,index=['a','b','c','d','é'])
print(s)

a    0.0
b    1.0
c    3.0
d    NaN
é    NaN
dtype: float64

In [30]:
# Accessing Data from Series with Position

s= pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
#retrieve the first three element
print(s[:3])
print()

#retrieve the last three element
print(s[-3:])
print()

#retrieve a single element
print (s['a'])
print()

#retrieve a reverse element
print(s[::-1])

a    1
b    2
c    3
dtype: int64

c    3
d    4
e    5
dtype: int64

1

e    5
d    4
c    3
b    2
a    1
dtype: int64

In [33]:
# DataFrame:

data=[['palash',23],['priti',22],['nishan',30]]
colums=['Name','Age']
df=pd.DataFrame(data,columns=colums)
print(df)

     Name  Age
0  palash   23
1   priti   22
2  nishan   30

In [37]:
# Create a DataFrame from Lists

data=[['palash',23],['priti',22],['nishan',30]]
colums=['Name','Age']
df=pd.DataFrame(data,index=[1,2,3],columns=colums)
print(df)

     Name  Age
1  palash   23
2   priti   22
3  nishan   30

In [38]:
# an indexed DataFrame using arrays.

dict1={'Name':['Palash','Priti','Nishan'],'Age':[23,22,30]}
df=pd.DataFrame(dict1)
print(df)

     Name  Age
0  Palash   23
1   Priti   22
2  Nishan   30

In [41]:
# DataFrame from List of Dicts

data=[{'a':1,'b':2,'c':3},{'a':2,'b':3,'c':4}]
df=pd.DataFrame(data)
print(df)

   a  b  c
0  1  2  3
1  2  3  4

In [44]:
# selecting a column from the DataFrame.

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df['Name'])

0      Tom
1     Jack
2    Steve
3    Ricky
Name: Name, dtype: object

In [47]:
# Adding column.

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df['Salary']=[40000,45000,50000,55000]
print(df)

    Name  Age  Salary
0    Tom   28   40000
1   Jack   34   45000
2  Steve   29   50000
3  Ricky   42   55000

In [50]:
# Using the previous DataFrame, we will delete a column
# using del function
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df['Salary']=[40000,45000,50000,55000]
print(df)
print()

# using del function
del df['Salary']
print(df)

# using pop function
pop df['Age']
print(df)

    Name  Age  Salary
0    Tom   28   40000
1   Jack   34   45000
2  Steve   29   50000
3  Ricky   42   55000

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [55]:
# Rows can be selected by passing row label to a loc function.



df = pd.DataFrame(data)

print(df.loc[0])

Name    Tom
Age      28
Name: 0, dtype: object

In [57]:
# Retrieve Multiple rows.

print(df.loc[2:4])

    Name  Age
2  Steve   29
3  Ricky   42

In [58]:
print(df[0]) #throw Error only work in slicing.

KeyError: 0

In [61]:
# Adding Row.

data1 = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
data2 = {'Name':['John', 'Jame', 'Jenny', 'Rock'],'Age':[30,35,21,50]}
df1=pd.DataFrame(data1,index=[1,2,3,4])
df2=pd.DataFrame(data2,index=[5,6,7,8])
df1=df1.append(df2)
print(df1)

    Name  Age
1    Tom   28
2   Jack   34
3  Steve   29
4  Ricky   42
5   John   30
6   Jame   35
7  Jenny   21
8   Rock   50

In [62]:
# Deletion of Rows:

df=df.drop(0) # Drop rows with label 0
print(df)

    Name  Age
1   Jack   34
2  Steve   29
3  Ricky   42

In [63]:
# retrieve number of range
df.axes

[Int64Index([1, 2, 3], dtype='int64'), Index(['Name', 'Age'], dtype='object')]

In [64]:
# retrieve number of columns.
df.shape

(3, 2)

In [65]:
#Print top 5 rows bydefault
df.head

<bound method NDFrame.head of     Name  Age
1   Jack   34
2  Steve   29
3  Ricky   42>

In [66]:
#Print bottom 5 rows bydefault
df.tail

<bound method NDFrame.tail of     Name  Age
1   Jack   34
2  Steve   29
3  Ricky   42>

In [67]:
df.head(1)

   Name  Age
1  Jack   34

In [68]:
df.tail(2)

    Name  Age
2  Steve   29
3  Ricky   42

In [71]:
df.info() #information about dataframe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 2 columns):
Name    3 non-null object
Age     3 non-null int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes

In [72]:
df.describe() #retrive only INT/FLOAT type row

             Age
count   3.000000
mean   35.000000
std     6.557439
min    29.000000
25%    31.500000
50%    34.000000
75%    38.000000
max    42.000000

In [74]:
df['Age'].values

array([34, 29, 42], dtype=int64)

In [75]:
df.T #Transpose

         1      2      3
Name  Jack  Steve  Ricky
Age     34     29     42

In [76]:
df.sum()

Name    JackSteveRicky
Age                105
dtype: object

In [79]:
df.sum(1)

1    34
2    29
3    42
dtype: int64

In [80]:
df.min()

Name    Jack
Age       29
dtype: object

In [81]:
df.std()

Age    6.557439
dtype: float64

In [82]:
df['Age'].min() #for single column

29

In [84]:
# Update column value.

data = {'Age':[28,34,29,42],'Salary':[20000,50000,25000,30000]}
df=pd.DataFrame(data)
df['Salary']=df['Salary']+10
print(df)

   Age  Salary
0   28   20010
1   34   50010
2   29   25010
3   42   30010

In [91]:
# 
df['LengthOfName']=df['Age'].map(lambda x:len(str(x)))
print(df)

   Age  Salary  LengthOfName
0   28   20010             2
1   34   50010             2
2   29   25010             2
3   42   30010             2

In [18]:
# Iteration:

import pandas as pd
import numpy as np

#df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['col1','col2','col3'])

for key,value in df.iteritems():#convert dataframe into key,value pair
    
    print(key,value.values)
print()    
print(df)

col1 [1 4 7]
col2 [2 5 8]
col3 [3 6 9]

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [21]:
#return index and row:

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['col1','col2','col3'])
for row_index,row in df.iterrows(): #represent index as a key and row as a value
     print(row_index,row)
print(df)

0 col1    1
col2    2
col3    3
Name: 0, dtype: int64
1 col1    4
col2    5
col3    6
Name: 1, dtype: int64
2 col1    7
col2    8
col3    9
Name: 2, dtype: int64
   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [32]:
#return tuple rowwise:

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['col1','col2','col3'])
for row in df.itertuples():#represent list of tuple
    print(row)
    #print(row[0])
    #print(row[1])
    #print(row[2])

Pandas(Index=0, col1=1, col2=2, col3=3)
Pandas(Index=1, col1=4, col2=5, col3=6)
Pandas(Index=2, col1=7, col2=8, col3=9)